<h1>My Post</h1>

{% if request.user.is_authenticated %}

<p> hello {{request.user | title }}</p>
<a href=" {% url 'logout' %}">Logout </a>
{% else %}
<a href="{% url 'login' %}"> Login</a>
{% endif %}
<hr>

<h3><a href="{% url 'post-create'%}"> Create Your  Post</a></h3>
<table>
    <h1> My post {{color}}</h1>
    <tr> 
        <th>Item</th>
        <th> View </th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    {% for post in post %}
    <tr>
        <td>{{post.title}}</td>
        <td><a href="{% url 'post_detail' post.id %}"> View</a></td>
        <td><a href="{% url 'post-update' post.id %}"> Edit</a></td>
        <td><a href="{% url 'post-delete' post.id %}"> Delete</a></td>

    </tr>

    {% empty %}
    <h3>No post in the list</h3>

    {% endfor %}
</table>
